@charset "utf-8";
/* Styles for standard screens (960px and above) */
* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	background-color: fuchsia;
}

body {
	position: relative;
	font-size: 100%;
	width: 90%;
	min-height: 96.95%;
	margin: 15px auto;
	background: -moz-linear-gradient(to top right, forestgreen, transparent 40%), -moz-linear-gradient(to bottom left, red, transparent 40%), #f77 url("../images/escudo_nacional_mexicano_by_radikian.jpg") no-repeat scroll center;
	background: -webkit-linear-gradient(to top right, forestgreen, transparent 40%), -webkit-linear-gradient(to bottom left, red, transparent 40%), #f77 url("../images/escudo_nacional_mexicano_by_radikian.jpg") no-repeat scroll center;
	background: -o-linear-gradient(to top right, forestgreen, transparent 40%), -o-linear-gradient(to bottom left, red, transparent 40%), #f77 url("../images/escudo_nacional_mexicano_by_radikian.jpg") no-repeat scroll center;
	background: linear-gradient(to top right, forestgreen, transparent 40%), linear-gradient(to bottom left, red, transparent 40%), #f77 url("../images/escudo_nacional_mexicano_by_radikian.jpg") no-repeat scroll center;
	background-size: 100% 100%;
	box-shadow: 0 0 40px #000;
	border-radius: 20px;
}

/* Styles for the navigation menu */
nav {
    margin: 0;
    padding: 0;
    background-color: forestgreen;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

ul {
	list-style: none;
	position: relative;
}

ul li {
	float: left;
}

ul ul {
	display: none;
	position: absolute;
	top: 100%;
	background-color: forestgreen;
}

ul ul li {
	float: none;
}

ul li:hover > ul {
	display: block;
}

nav > ul::after {
	content: "";
	display: block;
	clear: both;
}

ul li a {
	text-align: center;
	display: block;
	width: auto;
	padding: 1em 3em;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

ul li a.current {
	color: yellow;
}

nav a:hover, a:focus {
    font-style: italic;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

/*************************************/

header h1 {
	margin-left: 34%;
	font-size: 400%;
	color: forestgreen;
}

header img {
	float: left;
	width: 20%;
	max-width: 100%;
	display: block;
	margin: 0 auto;
	padding-left: 1em;
}

main {
	clear: both;
	min-height: 100%;
	width: 100%;
	padding: 2em 0;
}

main h2 {
	padding: 0 1em;
}

main p {
	padding: 1em;
}

footer {
	clear: both;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 1em 0;
}

footer p {
	font-size: 80%;
    text-align: center;
}