@charset "utf-8";
/* Styles for standard screens (960px and above) */
* {
	margin: 0;
	padding: 0;
}

html {
	background-color: fuchsia;
}

body {
	font-size: 100%;
	width: 90%;
	margin: 10px auto;
	background: -moz-linear-gradient(to top right, forestgreen, transparent 40%), -moz-linear-gradient(to bottom left, red, transparent 40%), #f77 url("../images/escudo_nacional_mexicano_by_radikian.jpg") no-repeat scroll center;
	background: -webkit-linear-gradient(to top right, forestgreen, transparent 40%), -webkit-linear-gradient(to bottom left, red, transparent 40%), #f77 url("../images/escudo_nacional_mexicano_by_radikian.jpg") no-repeat scroll center;
	background: -o-linear-gradient(to top right, forestgreen, transparent 40%), -o-linear-gradient(to bottom left, red, transparent 40%), #f77 url("../images/escudo_nacional_mexicano_by_radikian.jpg") no-repeat scroll center;
	background: linear-gradient(to top right, forestgreen, transparent 40%), linear-gradient(to bottom left, red, transparent 40%), #f77 url("../images/escudo_nacional_mexicano_by_radikian.jpg") no-repeat scroll center;
	background-size: 100% 100%;
	box-shadow: 0 0 40px #000;
	border-radius: 20px;
}

header {
	text-align: center;
}

header h1 {
	font-size: 400%;
	color: fuchsia;
}

header img {
	width: 60%;
	max-width: 100%;
	display: block;
	margin: 0 auto;
}

footer {
	text-align: center;
	font-size: 80%;
}

/* Changes to navbar for standard screens */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	border-radius: 20px 20px 0 0;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}